# CS 6140 Final Project

Fall 2022

Group 8

# Ridge Regression Model

## Setup

In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import RidgeCV

## Import Data from CSV

In [23]:
BASE_PATH = '../data'
POP_DATA_DF_FILE_NAME = 'pop_data_df'
POP_ENV_DATA_DF_FILE_NAME = 'pop_env_data_df'
EXTENSION = '.csv'

In [24]:
pop_data_train_X = pd.read_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}_train_X{EXTENSION}', index_col=0)
pop_data_train_Y = pd.read_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}_train_Y{EXTENSION}', index_col=0)
pop_data_test_X = pd.read_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}_test_X{EXTENSION}', index_col=0)
pop_data_test_Y = pd.read_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}_test_Y{EXTENSION}', index_col=0)

In [25]:
pop_data_train_X.head()

,POP_DENS,POP 0-14,POP 15-29,POP 30-44,POP 45-59,POP_GROWTH,HOUSEHOLDS,DWELLINGS
CODE_NUTS3,,,,,,,,
UKD33,4778.0,106168.0,169423.0,123404.0,82110.0,6.0,234751,226986
UKI74,3372.0,113739.0,106660.0,126581.0,105063.0,4.0,209295,202070
DE21F,116.0,13684.0,15669.0,17515.0,24401.0,4.0,49170,50795
DE21G,144.0,16220.0,20210.0,20988.0,27603.0,6.0,51506,50667
UKC23,2021.0,46434.0,52562.0,48995.0,58993.0,1.0,126170,128789

In [26]:
pop_env_data_train_X = pd.read_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}_train_X{EXTENSION}', index_col=0)
pop_env_data_train_Y = pd.read_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}_train_Y{EXTENSION}', index_col=0)
pop_env_data_test_X = pd.read_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}_test_X{EXTENSION}', index_col=0)
pop_env_data_test_Y = pd.read_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}_test_Y{EXTENSION}', index_col=0)

In [27]:
pop_env_data_train_X.head()

,POP_DENS,POP 0-14,POP 15-29,POP 30-44,POP 45-59,POP_GROWTH,HOUSEHOLDS,DWELLINGS,SURFACE AREA,NTL_avg,NO2_avg,WIND_Avg,Temp_mean_over12yrs,PRESSURE_avg,PRECIPITATION,SOLAR_RAD_avg,LAI_avg
CODE_NUTS3,,,,,,,,,,,,,,,,,
UKD33,4778.0,106168.0,169423.0,123404.0,82110.0,6.0,234751,226986,114.15,63.000000,5.585338,3.747743,9.953530,0.970338,70.400078,9287.124356,1.365212
UKI74,3372.0,113739.0,106660.0,126581.0,105063.0,4.0,209295,202070,164.04,62.611111,5.838824,4.022762,10.483912,0.995814,52.331597,9711.670648,1.676107
DE21F,116.0,13684.0,15669.0,17515.0,24401.0,4.0,49170,50795,857.98,10.228535,2.574793,2.613219,7.298616,0.796922,109.000675,11463.416494,2.555620
DE21G,144.0,16220.0,20210.0,20988.0,27603.0,6.0,51506,50667,797.05,10.397917,2.833501,2.396661,8.284346,0.911123,76.906713,11003.100022,2.670005
UKC23,2021.0,46434.0,52562.0,48995.0,58993.0,1.0,126170,128789,136.64,58.305557,3.644446,5.385735,9.080700,0.959126,54.822049,9251.519674,1.202203

## Implement Model

### Population Data Model

In [28]:
alphas = [1e-3, 1e-2, 1e-1, 1]

In [29]:
train_X = pop_data_train_X
train_Y = pop_data_train_Y
test_X = pop_data_test_X
test_Y = pop_data_test_Y

In [30]:
ridge_regressor = RidgeCV(alphas=alphas).fit(train_X, train_Y)

In [31]:
print(f'The test coefficient of determination is: {ridge_regressor.score(test_X, test_Y)}')

The test coefficient of determination is: -4.058266488334213

### Population and Environment Data Model

In [32]:
alphas = [1e-3, 1e-2, 1e-1, 1]

In [33]:
train_X = pop_env_data_train_X
train_Y = pop_env_data_train_Y
test_X = pop_env_data_test_X
test_Y = pop_env_data_test_Y

In [34]:
ridge_regressor = RidgeCV(alphas=alphas).fit(train_X, train_Y)

In [35]:
print(f'The test coefficient of determination is: {ridge_regressor.score(test_X, test_Y)}')

The test coefficient of determination is: 0.20671567215690678